!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
*.local
*.pem
*.tsbuildinfo
.DS_Store
.env*
.next/
.nitro
.output
.pnp
.pnp.*
.pnpm-debug.log*
.tanstack
.vercel
.vinxi
.wrangler
.yarn/*
__unconfig*
build
coverage
dist
dist-ssr
next-env.d.ts
node_modules
npm-debug.log*
out/
todos.json
yarn-debug.log*
yarn-error.log*
